<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="shopify_handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|&quot;C:\Program Files\Python312\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
